#########################################
# Platform dependent label definitions
#

# Date : WK15.34
# Operation : Migration
# Purpose : subtitle feature need to w/r /mny/subt/.
allow mediaserver subtitle_data_file:dir { create open read write search add_name };
allow mediaserver subtitle_data_file:file { create open read write setattr };
